.app {
  background-image: url('./../images/paper-pattern.png');
}

.app--inner {
  display: flex;
  flex-direction: column;
  padding: 15px;
  min-height: 100vh;
  margin: 0 auto;
  width: 1300px;
  max-width: 100%;
}

.app--body {
  flex: 1 1 auto;
  width: 100%;
  display: flex;
}

.app--inner.-secondary {
  width: 100%;
}
