.app {
  background-color: #f9fafc;
}

.app--inner {
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: flex-start;
}

.app--body {
  flex: 1 1 auto;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.app--body-inner {
  flex: 1 1 auto;
  width: 100%;
  height: 100%;
  display: flex;
}

.app--inner.-landing {
  margin: 0 auto;
  width: 1300px;
}
