.error-page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-self: center;
  width: 100%;
}

.error-page--smile {
  font-size: 10rem;
}

.error-page--text {

}

.error-page--text-header {
  font-size: 5rem;
}

.error-page--text-description {
  font-size: 3rem;
}
