.menu-item-modal {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: auto;
}

.menu-item-modal .recipe-preview {
  cursor: auto;
}

.menu-item-modal--overflow {
  background-color: rgba(0,0,0, .5);
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
  z-index: 101;
}

.menu-item-modal--content {
  background-color: rgba(255,255,255, 1);
  box-shadow: 20px 38px 34px -26px hsla(0, 0%, 0%, 0.2);
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  width: 600px;
  margin: 50px;
  z-index: 102;
  position: relative;
  padding: 10px 15px 20px;
}

.menu-item-modal--close {
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 1.3rem;
  line-height: 0;
  cursor: pointer;
}

.menu-item-modal--title {
  font-family: 'Shadows Into Light', cursive;
  text-transform: uppercase;
  font-size: 1.3rem;
  text-align: center;
  margin-bottom: 15px;
}

.menu-item-modal--section-title {
  font-size: 1.1rem;
}

.menu-item-modal--section-title.-secondary {
  text-align: center;
  margin: 5px 0 10px;
  font-size: 1.2rem;
}

.menu-item-modal--section-title.-secondary + button {
  width: 100%;
}

.menu-item-modal--labels {
  display: flex;
}

.menu-item-modal--form {
  padding-top: 10px;
}

.menu-item-modal--form .form--item {
  margin-bottom: 10px;
}
