.menu {
  width: 100%;
  display: flex;
  padding-top: 40px;
  flex-direction: column;
}

.menu--title {
  font-size: 2rem;
  text-transform: uppercase;
  padding: 10px 0 20px 0;
  text-align: center;
}

.menu--sections {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.menu--sections-inner {
  padding: 20px 0;
  flex: 1 1 auto;
}

.menu--section {
  background-color: rgba(255, 255, 255, .5);
  width: 100%;
  margin: 0 0 20px 0;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

.menu--section-title {
  padding: 10px 0 20px 10px;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.menu--section-row {
  align-items: center;
  display: flex;
}

.menu--section-row + .menu--section-row {
  margin-top: 10px;
}

.menu--section-row-number {
  font-size: 1.5rem;
  padding: 0 20px;
}

.menu--section-row-body {
  display: flex;
  flex-wrap: wrap;
}

.menu--section .recipe-preview {
  cursor: pointer;
}
