.menu {
  width: 100%;
  display: flex;
  padding-top: 40px;
  flex-direction: column;
}

.menu * {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.menu--title {
  font-size: 2rem;
  text-transform: uppercase;
  padding: 10px 0 20px 0;
  text-align: center;
}

.menu--sections {
  height: 100%;
  display: flex;
  width: max-content;
}

.menu--sections-inner {
  padding: 20px 0;
}

.menu--section {
  background-color: rgba(255, 255, 255, .5);
  width: 350px;
  max-height: 100%;
  margin: 0 0 20px 0;
  display: inline-flex;
  flex-direction: column;
  padding: 0 5px 20px 20px;
}

.menu--section + .menu--section {
  margin-left: 15px;
}

.menu--section-title {
  padding: 10px 0 20px 10px;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.menu--section-row {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.menu--section-row + .menu--section-row {
  margin-top: 10px;
}

.menu--section-row-number {
  font-size: 1.5rem;
  padding: 0 20px;
}

.menu--section-row-body {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.menu--section-body > div:nth-child(1) {
  padding-right: 15px!important;
}

.menu--section .recipe-preview {
  cursor: pointer;
}
