.nav {
  align-self: flex-start;
  align-items: center;
  display: flex;
  width: 100%;
  padding: 0 15px;
}

.nav--link.-logo {
  font-size: 50px;
  flex: 1 1 auto;
  text-decoration: none;
  color: #ff7f7f;
}
