.notification {
  width: 300px;
  height: auto;
  min-height: 70px;
  padding: 15px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  border: solid 2px rgba(0, 0, 0, .2);
  position: fixed;
  display: flex;
  align-items: center;
  bottom: 30px;
  left: 30px;
}

.notification--icon {
  margin-right: 30px;
  font-size: 3rem;
}
