.recipe-edit {
  width: 700px;
  margin: 0 auto;
  box-shadow: 20px 38px 34px -26px hsla(0, 0%, 0%, 0.2);
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  background-color: rgba(255,255,255,.5);
  padding-top: 15px;
  margin-top: 40px;
}

.recipe-edit--title {
  font-size: 1.5rem;
  text-align: center;
  font-family: 'Shadows Into Light', cursive;
  text-transform: uppercase;
}

.recipe-edit--form {
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.recipe-edit--form .form--row {
  width: 100%;
  display: flex;
}

.recipe-edit--form .form--row .form--label {
  flex: 1 1 300px;
}

.recipe-edit--form .form--submit {
  align-self: flex-end;
  justify-content: flex-end;
  min-width: 200px;
}

.recipe-edit--form .form--row .form--item {
  width: 100%;
}
