.recipe-overview {
  width: 100%;
  padding-top: 40px;
}

.recipe-overview--switch-type {
  display: flex;
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  border: solid 2px #41403e;
  width: 300px;
  font-size: 1.5rem;
  margin-left: 15px;
}

.recipe-overview--switch-type-item {
  flex: 1 1 50%;
  cursor: pointer;
  text-align: center;
  position: relative;
  padding: 15px;
}

.recipe-overview--switch-type-item.true {
  cursor: auto;
  background-color: rgba(255,255,255,1);
}

.recipe-overview--switch-type-item.true:hover {
  background-color: rgba(255,255,255,1);
}

.recipe-overview--switch-type-item:hover {
  background-color: rgba(255,255,255,.5);
}

.recipe-overview--switch-type-item + .recipe-overview--switch-type-item {
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  border-left: solid 2px #41403e;
}

.recipe-overview--list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-top: 30px;
  align-content: flex-start;
}

.recipe-overview--list .recipe-preview {
  max-width: 400px;
}
