.recipe-preview {
  min-width: 280px;
  flex: 1 1 auto;
  max-width: 100%;
  height: 250px;
}

.recipe-preview.-menu-item {
  min-width: 250px;
  height: auto;
  min-height: 60px;
  margin-bottom: 10px;
}

.recipe-preview.-menu-item .recipe-preview--inner {
  margin: 0;
  width: 100%;
  height: 100%;
}

.recipe-preview--inner {
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  width: calc(100% - 30px);
  margin: 15px;
  height: calc(100% - 30px);
  box-shadow: 20px 38px 34px -26px hsla(0, 0%, 0%, 0.2);
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  border: solid 2px #41403e;
  overflow: hidden;
}

.recipe-preview.-menu-item .recipe-preview--inner {
  box-shadow: 10px 19px 17px -13px hsla(0, 0%, 0%, 0.15);
}

.recipe-preview--ingredients {
  border-bottom: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 1 1 60%;
  width: 100%;
  margin: 0;
  padding: 10px 15px 10px 25px;
}

.recipe-preview--ingredients.-bg,
.recipe-preview--ingredients-title {
  background-color: rgba(255,255,255,.5);
}

.recipe-preview--ingredients-title {
  font-size: 1.1rem;
  padding: 10px 0 0 10px;
  width: 100%;
}

.recipe-preview--ingredients li {
  width: 50%;
}

.recipe-preview--text {
  background-color: rgba(0, 0, 0, .5);
  display: flex;
  flex-direction: column;
  padding: 7px 15px;
  border-top: 0;
  flex: 1 1 25%;
  width: 100%;
}

.recipe-preview--text .link {
  color: rgba(255, 255, 255, 1);
}

.recipe-preview--labels {
  display: flex;
}

.recipe-preview--labels-item {
  background-color: rgba(255, 127, 127,1);
  border-radius: 2px;
  color: #fff;
  font-size: .8rem;
  padding: 1px 3px;
}

.recipe-preview--labels-item + .recipe-preview--labels-item {
  margin-left: 7px;
}

.recipe-preview--title {
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #fff;
}
