.sidebar {
  width: 300px;
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
  box-shadow: 0 0 10px #e3e3e3;
  height: 100%;
}

.sidebar--logo {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
